@font-face {
    font-family: SegoeUiLight;
    src: url(segoeuil.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #aaa;
    font: normal 20px helvetica, arial, sans-serif;
}

a {
    color: #bbb;
    text-decoration: none;
}

.animated {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
}

.animated.ng-enter {
    transition: 3s cubic-bezier(0.60, 0.00, 1, 1) all;
}

.animated.ng-leave {
    transition: 3s cubic-bezier(0.00, 0.60, 1, 1) all;
}

.animated.ng-enter {
    opacity: 0;
}

.animated.ng-enter-active {
    opacity: 1.0;
}

.animated.ng-leave {
    opacity: 1.0;
}

.animated.ng-leave-active {
    opacity: 0;
}

#header {
    height: 50px;
    margin-bottom: 20px;
    background: #444;
    border-bottom: solid 1px #555;
    font: normal 12px Verdana;
}

#header > img {
    float: left;
    margin-left: 5px;
}

#header > h1 {
    display: block;
    float: left;
    width: 250px;
    font: bold 25px helvetica, arial, sans-serif;
    text-shadow: 2px 2px 7px #000;
    color: #ccc;
    margin: 10px 10px 10px 10px;
}

#header > #playlist-counter {
    padding-top: 20px;
    float: left;
}

#header > #settings {
    padding-top: 20px;
    margin-left: 50px;
    float: left;
    width: 450px;
}

#header > #settings > input#shuffle {
    margin: 2px 0 0 0;
    display: block;
    float: left;
}

#header > #settings > input#displayTime {
    width: 50px;
    margin: -2px 5px 0 30px;
    border: solid 1px #555;
    color: #aaa;
    background: #000;
    text-align: right;
    display: block;
    float: left;
}


#header > #settings > input#clock {
    margin: 2px 0 0 25px;
    display: block;
    float: left;
}

label[for=shuffle], label[for=clock] {
    display: block;
    float: left;
    margin-left: 5px;
}

label[for=displayTime] {
    display: block;
    float: left;
}

.playlist > a {
    display: block;
    width: 200px;
    background: #111;
    padding: 10px;
    text-align: center;
    border: solid 1px #444;
    margin: 5px;
    float: left;
}

.playlist > a > img {
    box-shadow: 3px 3px 9px #000;
}

.playlist .size, .views {
    font-size: 12px;
}

div#datetime {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    font-family: SegoeUiLight;
}

div#datetime > #date {
    font-size: 30px;
    margin: 0 auto;
    width: 410px;
    text-align: center;
    position: relative;
    bottom: 5px;
}

div#datetime > #time {
    font-size: 160px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 410px;
    line-height: 150px;
}
