<div>
    Found <span ng-bind="playlists.length">0</span> playlist<span ng-if="playlists.length > 1">s</span>.
</div>

<div ng-repeat="playlist in playlists">
    <a ng-href="#/play/{{playlist.id}}">
        <img ng-src="{{playlist.thumbnail}}" width="{{cfg.browser.thumbnailSize.w}}"
             height="{{cfg.browser.thumbnailSize.h}}">
        <div>{{playlist.title}}</div>
        <div>{{playlist.size}} photos</div>
        <div>Views: {{playlist.viewCount}}</div>
    </a>
</div>


<input id="shuffle" type="checkbox" ng-model="cfg.slideshow.shuffle">
<label for="shuffle">Shuffle</label>
