<div id="header">
    <img src="img/logo48.png">
    <h1>Photo Frame</h1>
    <div id="playlist-counter">
        Found <span ng-bind="playlists.length">0</span> playlist<span ng-if="playlists.length > 1">s</span>
    </div>
    <div id="settings">
        <input id="shuffle" type="checkbox" ng-model="cfg.slideshow.shuffle" ng-change="saveSlideshowSettings()">
        <label for="shuffle">Shuffle</label>

        <input id="displayTime" type="number" ng-model="cfg.slideshow.time" ng-change="saveSlideshowSettings()">
        <label for="displayTime">Display Time (seconds)</label>

        <input id="clock" type="checkbox" ng-model="cfg.slideshow.displayTime" ng-change="saveSlideshowSettings()">
        <label for="clock">Clock</label>
    </div>
    <div id="links">
        <a href="#/download-playlists">Download Playlists</a>
    </div>
</div>


<div class="playlist">
    <a ng-href="#/play/{{playlist.id}}"  ng-repeat="playlist in playlists track by $index">
        <img ng-src="{{playlist.thumbnail}}" width="{{cfg.browser.thumbnailSize.w}}"
             height="{{cfg.browser.thumbnailSize.h}}">
        <div>{{playlist.title}}</div>
        <div class="size">{{playlist.size}} photos</div>
        <div class="views">Views: {{playlist.viewCount}}</div>
    </a>
</div>


